@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.container{
  width: 84%;
  min-height: 100%;
  background: linear-gradient(135deg, #D5D0DE, #D8AF93);
  color: rgb(12, 5, 5);
  padding-top: 4%;
  padding-left: 3%;
}